html
{
    overflow: auto;
    font-size: 14px;
}

body
{
    font-family: 'Rubik', sans-serif;
    line-height: 1.5;
    color: #4d4e53;
    background-color: white;
    padding: 0;
    margin: 0;
}

body.menu-opened {
    position: fixed;
    overflow: hidden;
    width: 100%;
}

a, a:visited, a:active {
    color: #0095dd;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header {
    display: flex;
    width: 100%;
    border-bottom: 1px solid #ccc;
}

tt, code, kbd, samp {
       font-family: Consolas, Monaco, 'Andale Mono', monospace;
}

.wip {
    margin-top: 2em;
    font-weight: bold;
}

.author {
    margin-top: 10em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.author p {
    font-size: 12px;
}

.author p a {
    font-weight: bold;
}

.author span {
    color: #ccc;
    font-size: 10px;
}

.author--pic {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background: white;
    box-shadow: #DDD 0px 0px 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.author--pic img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.burger {
    position: absolute;
    width: 40px;
    height: 40px;
    right: 1em;
    top: 1em;
    cursor: pointer;
    content: '';
}

@media screen and (min-width: 768px) {
    body {
        background-color: hsl(0, 0%, 97%);
    }

    .wrapper {
        flex-direction: row-reverse;
    }
    
    .burger {
        display: none;
    }

    #main {
        margin: 3em !important;
    }

    /* section {
        margin-left: 30px;
    } */

    nav {
        width: calc(30vw - 16px - 2em) !important;
        display: flex !important;
        position: relative !important;
        padding-left: 16px !important;
        height: auto !important;
        background-color: hsl(0, 0%, 97%) !important;
        margin-top: 3em !important;
        text-align: right !important;
        padding: 2em;
    }

    nav .inner {
        position: sticky !important;
        top: 5em !important;
    }

    .author {
        align-items: flex-end !important;
    }
}

.class-description {
    font-size: 130%;
    line-height: 140%;
    margin-bottom: 1em;
    margin-top: 1em;
}

.class-description:empty {
    margin: 0;
}

#main {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin: 3em 0 3em 0;
}

article dl {
    margin-bottom: 40px;
}

article img {
  max-width: 100%;
}

section {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    padding: 1em;
    margin: 2em 0 2em 0;
}

.variation {
    display: none;
}

.signature-attributes {
    font-size: 60%;
    color: #aaa;
    font-style: italic;
    font-weight: lighter;
}

@keyframes navIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

nav
{
    display: none;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    position: absolute;
    /* top: 0; */
    background-color: white;
    left: 0;
    flex-direction: column;
    margin-top: 0;
    text-align: center;
}

nav.visible {
    display: flex;
    animation-name: navIn;
    animation-duration: .4s;
}

nav .inner {
    display: flex;
    flex-direction: column;
    width: 100%;
}

nav ul {
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', arial, sans-serif;
    font-size: 100%;
    line-height: 17px;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

nav ul a, nav ul a:visited, nav ul a:active {
    /* font-family: Consolas, Monaco, 'Andale Mono', monospace; */
    line-height: 18px;
    color: #4D4E53;
}

nav h3 {
    margin-top: 12px;
}

nav li {
    margin-top: 6px;
}

footer {
    display: block;
    padding: 6px;
    font-style: italic;
    font-size: 90%;
    background-color: hsl(0, 0%, 97%);
}

h1, h2, h3, h4 {
    font-weight: 200;
    margin: 0;
}

h1
{
    font-family: 'Open Sans Light', sans-serif;
    font-size: 48px;
    letter-spacing: -2px;
    margin: 12px 24px 20px;
}

h2, h3.subsection-title
{
    font-size: 30px;
    font-weight: 700;
    letter-spacing: -1px;
    margin-bottom: 12px;
}

h3
{
    font-size: 24px;
    letter-spacing: -0.5px;
    margin-bottom: 12px;
}

h4
{
    font-size: 18px;
    letter-spacing: -0.33px;
    margin-bottom: 12px;
    color: #4d4e53;
}

h5, .container-overview .subsection-title
{
    font-size: 120%;
    font-weight: bold;
    letter-spacing: -0.01em;
    margin: 8px 0 3px 0;
}

h6
{
    font-size: 100%;
    letter-spacing: -0.01em;
    margin: 6px 0 3px 0;
    font-style: italic;
}

table
{
    border-spacing: 0;
    border: 0;
    border-collapse: collapse;
}

td, th
{
    border: 1px solid #ddd;
    margin: 0px;
    text-align: left;
    vertical-align: top;
    padding: 4px 6px;
    display: table-cell;
}

thead tr
{
    background-color: #ddd;
    font-weight: bold;
}

th { border-right: 1px solid #aaa; }
tr > th:last-child { border-right: 1px solid #ddd; }

.ancestors, .attribs { color: #999; }
.ancestors a, .attribs a
{
    color: #999 !important;
    text-decoration: none;
}

.clear
{
    clear: both;
}

.important
{
    font-weight: bold;
    color: #950B02;
}

.yes-def {
    text-indent: -1000px;
}

.type-signature {
    color: #aaa;
}

.name, .signature {
    font-family: Consolas, Monaco, 'Andale Mono', monospace;
}

.details { margin-top: 14px; border-left: 2px solid #DDD; }
.details dt { width: 120px; float: left; padding-left: 10px;  padding-top: 6px; }
.details dd { margin-left: 70px; }
.details ul { margin: 0; }
.details ul { list-style-type: none; }
.details li { margin-left: 30px; padding-top: 6px; }
.details pre.prettyprint { margin: 0 }
.details .object-value { padding-top: 0; }

.description {
    margin-bottom: 1em;
    margin-top: 1em;
}

.code-caption
{
    font-style: italic;
    font-size: 107%;
    margin: 0;
}

.prettyprint
{
    border: 1px solid #ddd;
    width: 80%;
    overflow: auto;
}

.prettyprint.source {
    width: inherit;
}

.prettyprint code
{
    font-size: 100%;
    line-height: 18px;
    display: block;
    padding: 4px 12px;
    margin: 0;
    background-color: #fff;
    color: #4D4E53;
}

.prettyprint code span.line
{
  display: inline-block;
}

.prettyprint.linenums
{
  padding-left: 70px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.prettyprint.linenums ol
{
  padding-left: 0;
}

.prettyprint.linenums li
{
  border-left: 3px #ddd solid;
}

.prettyprint.linenums li.selected,
.prettyprint.linenums li.selected *
{
  background-color: lightyellow;
}

.prettyprint.linenums li *
{
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.params .name, .props .name, .name code {
    color: #4D4E53;
    font-family: Consolas, Monaco, 'Andale Mono', monospace;
    font-size: 100%;
}

.params td.description > p:first-child,
.props td.description > p:first-child
{
    margin-top: 0;
    padding-top: 0;
}

.params td.description > p:last-child,
.props td.description > p:last-child
{
    margin-bottom: 0;
    padding-bottom: 0;
}

.disabled {
    color: #454545;
}
